<html>
    <body>

      <p align=center><img src='https://media.licdn.com/dms/image/C5612AQFknAxjs9MAnQ/article-cover_image-shrink_423_752/0/1588175875099?e=1704931200&v=beta&t=G1nmJANh4zvMfh9rOG8BxwB5gvaRRvw9dK2XBIOMXno' align=center>
      <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

    </body>
</html>